header, footer {
    background-color: #1F2937;
}

button {
    background-color: #3882F6;
}

.middle .testimonial {
    background-color: #E5E7EB;
}

header {
    border: solid 3px red;
}

.left {
    border: solid 3px blue;
}

.right {
    border: solid 3px green;
}

.top {
    border: solid 3px purple;
}

p {
    border: solid 3px orange;
}

button, img {
    border: solid 3px pink;
}

section .top.left {
    border: solid 3px green;
}

section .top.right {
    border: solid 3px blue;
}

section .cards {
    border: solid 3px cornflowerblue;
}
section .card {
    border: solid 3px red;
}

.testimonial {
    border: solid 3px red;
}
